.container{
    display: block;
    width: 400px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: bisque ;
}

.input {
    width: 365px;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

.login {
    background-color: cornsilk;
    color: black;
    padding: 16px 20px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 20px
}

.login:hover {
    opacity: 0.45;
}